
.icon-services:before { content: '\e802'; } /* '' */
.icon-team:before { content: '\e800'; } /* '' */
.icon-pricing:before { content: '\e803'; } /* '' */
.icon-portfolio:before { content: '\e801'; } /* '' */
.icon-testimonials:before { content: '\e804'; } /* '' */