
.icon-spin1:before { content: '\e806'; } /* '' */
.icon-team:before { content: '\e808'; } /* '' */
.icon-services:before { content: '\e809'; } /* '' */
.icon-testimonials:before { content: '\e805'; } /* '' */
.icon-twitter-circled:before { content: '\e801'; } /* '' */
.icon-portfolio:before { content: '\e80a'; } /* '' */
.icon-gplus-circled:before { content: '\e802'; } /* '' */
.icon-linkedin-circled:before { content: '\e803'; } /* '' */
.icon-news:before { content: '\e807'; } /* '' */
.icon-pricing:before { content: '\e804'; } /* '' */
.icon-facebook-circled:before { content: '\e800'; } /* '' */